In [4]:
import glob
import pandas as pd
from datetime import datetime

In [3]:
!curl -O https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json

!curl -O https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json

!curl -O https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100  2815  100  2815    0     0   3017      0 --:--:-- --:--:-- --:--:--  3023
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100  1429  100  1429    0     0   1896      0 --:--:-- --:--:-- --:--:--  1897
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100   590  100   590    0     0    932      0 --:--:-- --:--:-- --:--:--   933

In [5]:
def extract():
    # Write your code here
    extracted_data = extract_from_json('Data/bank_market_cap_1.json')
    # Keep only the specified columns
    extracted_data = extracted_data[['Name', 'Market Cap (US$ Billion)']]
    return extracted_data

In [6]:
# Write your code here
exchange_rates = pd.read_csv('Data/exchange_rates.csv', index_col=0)
exchange_rate = exchange_rates.loc['GBP', 'Rates']
print(f"GBP exchange rate: {exchange_rate}")

GBP exchange rate: 0.7323984208000001

In [7]:
def transform(data, exchange_rate):
    # Write your code here
    # 1. Convert USD to GBP
    data['Market Cap (GBP$ Billion)'] = data['Market Cap (US$ Billion)'] * exchange_rate
    
    # 2. Round to 3 decimal places
    data['Market Cap (GBP$ Billion)'] = data['Market Cap (GBP$ Billion)'].round(3)
    
    # 3. Drop the original USD column
    data = data.drop(columns=['Market Cap (US$ Billion)'])
    
    return data

In [11]:
def load(data, output_file):
    # Write your code here
    data.to_csv(output_file, index=False)

In [12]:
def log(message):
    # Write your code here
    timestamp_format = '%Y-%m-%d %H:%M:%S'
    now = datetime.now()
    timestamp = now.strftime(timestamp_format)
    with open("logfile.txt", "a") as f:
        f.write(timestamp + ',' + message + '\n')

In [13]:
# Write your code here
log("ETL Job Started")

In [14]:
# Call the function here
log("Extract phase Started")
df_extracted = extract()

# Print the rows here
print("First 5 rows of extracted data:")
print(df_extracted.head())

First 5 rows of extracted data:
                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

In [15]:
# Write your code here
log("Extract phase Ended")

In [16]:
# Write your code here
log("Transform phase Started")

In [17]:
# Call the function here
df_transformed = transform(df_extracted, exchange_rate)

# Print the first 5 rows here
print("\nFirst 5 rows of transformed data:")
print(df_transformed.head())

First 5 rows of transformed data:
                                      Name  Market Cap (GBP$ Billion)
0                           JPMorgan Chase                    286.319
1  Industrial and Commercial Bank of China                    252.834
2                          Bank of America                    238.272
3                              Wells Fargo                    225.588
4                  China Construction Bank                    188.519

In [18]:
# Write your code here
log("Transform phase Ended")

In [19]:
# Write your code here
log("Load phase Started")

In [20]:
# Write your code here
load(df_transformed, 'bank_market_cap_gbp.csv')
print("Data loaded to 'bank_market_cap_gbp.csv'")

Data loaded to 'bank_market_cap_gbp.csv'

In [21]:
# Write your code here
log("Load phase Ended")
log("ETL Job Ended")