In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Read Inside Airbnb data") \
    .getOrCreate()

listings = spark.read.csv("data/listings.csv.gz", 
    header=True,
    inferSchema=True,
    sep=",", 
    quote='"',
    escape='"', 
    multiLine=True,
    mode="PERMISSIVE" 
)

In [3]:
listings.printSchema()

root
 |-- id: long (nullable = true)
 |-- listing_url: string (nullable = true)
 |-- scrape_id: long (nullable = true)
 |-- last_scraped: date (nullable = true)
 |-- source: string (nullable = true)
 |-- name: string (nullable = true)
 |-- description: string (nullable = true)
 |-- neighborhood_overview: string (nullable = true)
 |-- picture_url: string (nullable = true)
 |-- host_id: integer (nullable = true)
 |-- host_url: string (nullable = true)
 |-- host_name: string (nullable = true)
 |-- host_since: date (nullable = true)
 |-- host_location: string (nullable = true)
 |-- host_about: string (nullable = true)
 |-- host_response_time: string (nullable = true)
 |-- host_response_rate: string (nullable = true)
 |-- host_acceptance_rate: string (nullable = true)
 |-- host_is_superhost: string (nullable = true)
 |-- host_thumbnail_url: string (nullable = true)
 |-- host_picture_url: string (nullable = true)
 |-- host_neighbourhood: string (nullable = true)
 |-- host_listings_count: integer (nullable = true)
 |-- host_total_listings_count: integer (nullable = true)
 |-- host_verifications: string (nullable = true)
 |-- host_has_profile_pic: string (nullable = true)
 |-- host_identity_verified: string (nullable = true)
 |-- neighbourhood: string (nullable = true)
 |-- neighbourhood_cleansed: string (nullable = true)
 |-- neighbourhood_group_cleansed: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- property_type: string (nullable = true)
 |-- room_type: string (nullable = true)
 |-- accommodates: integer (nullable = true)
 |-- bathrooms: double (nullable = true)
 |-- bathrooms_text: string (nullable = true)
 |-- bedrooms: integer (nullable = true)
 |-- beds: integer (nullable = true)
 |-- amenities: string (nullable = true)
 |-- price: string (nullable = true)
 |-- minimum_nights: integer (nullable = true)
 |-- maximum_nights: integer (nullable = true)
 |-- minimum_minimum_nights: integer (nullable = true)
 |-- maximum_minimum_nights: integer (nullable = true)
 |-- minimum_maximum_nights: integer (nullable = true)
 |-- maximum_maximum_nights: integer (nullable = true)
 |-- minimum_nights_avg_ntm: double (nullable = true)
 |-- maximum_nights_avg_ntm: double (nullable = true)
 |-- calendar_updated: string (nullable = true)
 |-- has_availability: string (nullable = true)
 |-- availability_30: integer (nullable = true)
 |-- availability_60: integer (nullable = true)
 |-- availability_90: integer (nullable = true)
 |-- availability_365: integer (nullable = true)
 |-- calendar_last_scraped: date (nullable = true)
 |-- number_of_reviews: integer (nullable = true)
 |-- number_of_reviews_ltm: integer (nullable = true)
 |-- number_of_reviews_l30d: integer (nullable = true)
 |-- availability_eoy: integer (nullable = true)
 |-- number_of_reviews_ly: integer (nullable = true)
 |-- estimated_occupancy_l365d: integer (nullable = true)
 |-- estimated_revenue_l365d: integer (nullable = true)
 |-- first_review: date (nullable = true)
 |-- last_review: date (nullable = true)
 |-- review_scores_rating: double (nullable = true)
 |-- review_scores_accuracy: double (nullable = true)
 |-- review_scores_cleanliness: double (nullable = true)
 |-- review_scores_checkin: double (nullable = true)
 |-- review_scores_communication: double (nullable = true)
 |-- review_scores_location: double (nullable = true)
 |-- review_scores_value: double (nullable = true)
 |-- license: string (nullable = true)
 |-- instant_bookable: string (nullable = true)
 |-- calculated_host_listings_count: integer (nullable = true)
 |-- calculated_host_listings_count_entire_homes: integer (nullable = true)
 |-- calculated_host_listings_count_private_rooms: integer (nullable = true)
 |-- calculated_host_listings_count_shared_rooms: integer (nullable = true)
 |-- reviews_per_month: double (nullable = true)

In [6]:
listings.filter(listings.picture_url.isNotNull()) \
    .select('picture_url') \
    .limit(1) \
    .show(truncate=False)

+-------------------------------------------------------------------------+
|picture_url                                                              |
+-------------------------------------------------------------------------+
|https://a0.muscache.com/pictures/623d63f8-56cf-4bd0-af95-fb50c5abf6af.jpg|
+-------------------------------------------------------------------------+

In [14]:
listings.filter(listings.reviews_per_month > 10) \
    .count()

101

In [15]:
listings.filter(listings.bathrooms > listings.bedrooms) \
    .select('name', 'bathrooms', 'bedrooms') \
    .show(truncate=False)

+-------------------------------------------------+---------+--------+
|name                                             |bathrooms|bedrooms|
+-------------------------------------------------+---------+--------+
|matrimoni red room on Canals center              |2.5      |1       |
|Charming Terrace Flat with Veranda, 15 min Centre|1.0      |0       |
|Luxury B&B Antica Brera                          |2.0      |1       |
|AtticCozy-With Rooftop Terrace                   |2.5      |1       |
|Centric studio Brera [Downtown Milan]            |1.0      |0       |
|TOP POSITION  Bed and Breakfast                  |2.0      |1       |
|LARGE DOUBLE OR TWIN ROOM                        |1.5      |1       |
|2 B&B in Milan with trees & metro                |2.0      |1       |
|Elegant, quiet and luminous flat                 |2.0      |1       |
|Glamour next to Leonardo's Cenacolo              |1.5      |1       |
|Beautiful loft in the Navigli area               |2.5      |2       |
|LOFT-LOVE stile N.Y. silenzioso!                 |1.5      |1       |
|Stylish Suite in Fashion District - Corso Venezia|2.0      |1       |
|Design Apartment, Milan City Center - Duomo      |1.0      |0       |
|Very Central Cozy Studio Apartment               |1.0      |0       |
|Super apartment navigli!                         |2.0      |1       |
|Charming apartment in a vibrant neighborhood     |2.5      |2       |
|LOFT D'ARTISTA                                   |2.0      |1       |
|Pergola court loft in Isola area                 |1.5      |1       |
|White room with a garden view                    |2.0      |1       |
+-------------------------------------------------+---------+--------+
only showing top 20 rows

In [32]:
from pyspark.sql.functions import regexp_replace

price_num = listings \
    .withColumn('price_numeric', regexp_replace('price', '[$,]', '').cast('float'))
    
res = price_num \
    .filter(price_num.price_numeric > 5000) \
    .select('name', 'price') \
    .collect()

res

[Row(name='Panoramic duplex penthouse in Milan city center', price='$11,400.00'),
 Row(name='Food Loft by Simone Rugiati', price='$5,706.00'),
 Row(name='Comfort Queen Single - Bianca Maria Palace Hotel', price='$5,001.00'),
 Row(name='Bianca Maria Palace Hotel, Deluxe Doppia/Twin', price='$8,990.00'),
 Row(name='Exclusive Corner - Bianca Maria Palace Hotel', price='$5,001.00'),
 Row(name='Family Room - Bianca Maria Palace Hotel', price='$5,001.00'),
 Row(name='Gamma TEST no prenotazioni', price='$9,006.00'),
 Row(name='San Babila orangerie double bedroom apartment', price='$16,199.00'),
 Row(name='Grazioso e comodo appartamento accanto alla Metro', price='$65,500.00'),
 Row(name='Sweet Chloe Milano', price='$9,715.00'),
 Row(name='Il bilocale degli architetti', price='$9,000.00'),
 Row(name='Crocetta10', price='$9,000.00'),
 Row(name='Beautiful Studio, near Loreto Metro - (M2 Loreto)', price='$6,900.00'),
 Row(name='[Milano Centro] Green oasis few steps from Duomo', price='$6,879.00'),
 Row(name='Tetodonpa - Suite near Duomo', price='$6,000.00'),
 Row(name='Luminoso Appartamento a Milano in Piazza Gramsci', price='$9,009.00'),
 Row(name='Green Apartment - Eco Design, Milano', price='$7,000.00'),
 Row(name='Moscova Luxury Home (BRERA-DUOMO 10 min)', price='$7,786.00'),
 Row(name='Elegant Sweet Home Suite - 15 minute Duomo', price='$6,300.00'),
 Row(name='Ping-Pong House - NoLo District', price='$8,000.00'),
 Row(name='MP60 • Maxi Large • Chic • Central', price='$8,600.00'),
 Row(name='Porta Venezia Comfortable Apartment', price='$9,000.00'),
 Row(name='Suite in Piazza Duomo (apt.4)', price='$5,012.00'),
 Row(name='Suite in Piazza Duomo (apt.7)', price='$5,012.00'),
 Row(name='[Milano - Martesana] Easy House', price='$9,100.00'),
 Row(name='[Città studi] Prestigioso loft in piazzale gorini', price='$11,419.00'),
 Row(name='Martini', price='$9,000.00'),
 Row(name='Cozy Apartment Porta Venezia', price='$9,000.00'),
 Row(name='Magolfa Apartment - Loft with Garden Navigli', price='$7,174.00'),
 Row(name='SES12 [Loreto- Duomo] • Central • Big • MM1', price='$6,000.00'),
 Row(name='[Palazzo a 10 minuti dal centro]17 posti letto', price='$5,391.00'),
 Row(name='MO87 [Loreto- Duomo] • Chic •', price='$8,400.00'),
 Row(name='ROG27 • Large Apartment in the city of Milan •', price='$7,500.00'),
 Row(name='COS54 • Exclusive Apartment •', price='$6,007.00'),
 Row(name='MO109 [Loreto- Duomo] • Large •', price='$9,000.00'),
 Row(name='CE6 [Corso Sempione] • Large • Luxury •', price='$8,400.00'),
 Row(name='Atelier Grandi - Milano', price='$9,000.00'),
 Row(name='MA26 [San Siro] Large - New Apartment -', price='$7,600.00'),
 Row(name='Argentina Home Milano', price='$9,000.00'),
 Row(name='[Milano Duomo- Navigli] Urban Lofth', price='$8,400.00'),
 Row(name='[Luminosa] Wifi Netflix 15 Minutes from DUOMO', price='$8,000.00'),
 Row(name='Penthouse Maison Onice by Maison Senato', price='$14,323.00'),
 Row(name='ND13 [Loreto - Duomo]  • Central  • Comfortable •', price='$5,600.00'),
 Row(name='FLU10 [Crescenzago] Bright • Wi-fi •', price='$7,500.00'),
 Row(name='Casa Mari', price='$9,143.00'),
 Row(name='LO3 • [Navigli]  • Central •', price='$8,800.00'),
 Row(name='PAG60 [Crescenzago] • Green House •', price='$8,100.00'),
 Row(name='Deluxe & Elegant Apt with all Comfort and View', price='$6,900.00'),
 Row(name='Dezza Loft', price='$9,000.00'),
 Row(name='[Duomo-PortaRomana] GramugliHouse - free parking', price='$7,500.00'),
 Row(name='Appartamento Somaré', price='$10,000.00'),
 Row(name='Luxury, Modern & Charming Apt Near Central Station', price='$8,411.00'),
 Row(name='PE19 [Rho-Fiera Milano]', price='$5,525.00'),
 Row(name='CO5 • Central •', price='$6,400.00'),
 Row(name='Atelier Martin', price='$9,000.00'),
 Row(name='Boiardo House', price='$9,000.00'),
 Row(name='PAD26 [Loreto-Duomo] • Central •', price='$7,200.00'),
 Row(name='BRE3 [Lodi] • Elegant & Private Hot Tub •', price='$7,300.00'),
 Row(name='ND13 [Loreto - Duomo] • Central •', price='$7,800.00'),
 Row(name='Quadrupla', price='$9,000.00'),
 Row(name='DO11 [10 minutes from the Duomo]', price='$6,800.00'),
 Row(name='RU11  • Tranquility & Design •', price='$7,400.00'),
 Row(name='Green House Milano', price='$8,000.00'),
 Row(name='Blue Milano: just steps from the metro.', price='$6,900.00'),
 Row(name='Milan Vibes in NoLo – Chic Apartment', price='$7,300.00'),
 Row(name='Your Milanese home: style, comfort, and nightlife', price='$6,800.00'),
 Row(name='Near the Duomo – Refined apartment', price='$7,910.00'),
 Row(name='Suite Porta Tenaglia', price='$9,999.00'),
 Row(name='Tripla', price='$9,000.00'),
 Row(name='PE19 • Bright & Modern Apartment with Park View •', price='$5,100.00')]

In [36]:
price_num.filter('price_numeric < 150 AND number_of_reviews > 20 AND review_scores_rating > 4.5') \
    .select('name', 'price_numeric', 'number_of_reviews', 'review_scores_rating') \
    .show(truncate=False)

+--------------------------------------------------+-------------+-----------------+--------------------+
|name                                              |price_numeric|number_of_reviews|review_scores_rating|
+--------------------------------------------------+-------------+-----------------+--------------------+
|Nico & Cinzia's Pink Suite!                       |86.0         |39               |4.53                |
|Nice room with private bathroom                   |36.0         |690              |4.65                |
|Brand new apartment in Milan                      |60.0         |126              |4.85                |
|Piccolo Attico Duomo // 3-18 months stay contract |143.0        |79               |4.91                |
|Apartment corso Buenos Aires milan                |71.0         |137              |4.68                |
|Stay in Style Solari                              |95.0         |108              |4.77                |
|Charming Terrace Flat with Veranda, 15 min Centre |61.0         |538              |4.77                |
|Old fashion Classica-Milano House                 |130.0        |301              |4.59                |
|A cozy loft in Milan fully equipped               |48.0         |151              |4.7                 |
|Really bright flat, downtown Milan                |101.0        |222              |4.9                 |
|Brand new studio flat downtown                    |139.0        |23               |4.96                |
|Center Flat FieraMilanoCity MiCo Citylife Attic   |99.0         |49               |4.79                |
|AtticCozy-With Rooftop Terrace                    |84.0         |45               |4.83                |
|Beautiful And Cozy Private Room  Garibaldi - Brera|106.0        |819              |4.63                |
|Good starting point to discover Mi                |60.0         |286              |4.91                |
|Navigli LOFT, with private garden                 |120.0        |53               |4.9                 |
|Centric studio Brera [Downtown Milan]             |93.0         |217              |4.65                |
|In the center of Milan, Brera                     |56.0         |478              |4.94                |
|Cozy flat in Tortona Quarter with Long Check out  |100.0        |98               |4.66                |
|Live like a local in Porta Venezia Duomo/Centrale.|79.0         |70               |4.74                |
+--------------------------------------------------+-------------+-----------------+--------------------+
only showing top 20 rows

In [35]:
price_num.filter('price_numeric < 150 OR bathrooms > 1') \
    .select('name', 'price_numeric', 'bathrooms') \
    .show(truncate=False)

+-------------------------------------------------+-------------+---------+
|name                                             |price_numeric|bathrooms|
+-------------------------------------------------+-------------+---------+
|Nico & Cinzia's Pink Suite!                      |86.0         |1.0      |
|Nice room with private bathroom                  |36.0         |1.0      |
|Great comfortable & quite APT. x 4 people!       |250.0        |2.0      |
|Flat " Chiesa Rossa2 in Milan                    |80.0         |1.0      |
|Open Space Loft Navigli Area Milano              |63.0         |1.0      |
|Brand new apartment in Milan                     |60.0         |1.0      |
|Piccolo Attico Duomo // 3-18 months stay contract|143.0        |1.0      |
|Apartment corso Buenos Aires milan               |71.0         |1.0      |
|Stay in Style Solari                             |95.0         |1.0      |
|matrimoni red room on Canals center              |44.0         |2.5      |
|downtown, Rho Fiera in 30 min directly by train  |96.0         |1.0      |
|Charming Terrace Flat with Veranda, 15 min Centre|61.0         |1.0      |
|Old fashion Classica-Milano House                |130.0        |1.0      |
|A cozy loft in Milan fully equipped              |48.0         |1.0      |
|private room with private bathroom               |90.0         |1.0      |
|Really bright flat, downtown Milan               |101.0        |1.0      |
|A corner of London in Milan                      |99.0         |1.0      |
|Luxury B&B Antica Brera                          |265.0        |2.0      |
|Charming Nest, Central, Fiber-Optic              |296.0        |2.0      |
|Brand new studio flat downtown                   |139.0        |1.0      |
+-------------------------------------------------+-------------+---------+
only showing top 20 rows

In [41]:
from pyspark.sql.functions import max

price_num \
    .select(max('price_numeric')) \
    .show()

+------------------+
|max(price_numeric)|
+------------------+
|           65500.0|
+------------------+

In [47]:
from pyspark.sql.functions import max

res = price_num \
    .select(max('price_numeric').alias('max_price')) \
    .collect()

res

[Row(max_price=65500.0)]

In [48]:
max_price = res[0]['max_price']
max_price

65500.0

In [50]:
price_num.filter(price_num.price_numeric == max_price) \
    .select('name', 'price') \
    .show(truncate=False)

+-------------------------------------------------+----------+
|name                                             |price     |
+-------------------------------------------------+----------+
|Grazioso e comodo appartamento accanto alla Metro|$65,500.00|
+-------------------------------------------------+----------+

In [51]:
listings \
    .select('host_name') \
    .distinct() \
    .count()

2745

In [53]:
from pyspark.sql.functions import year

listings.filter(year(listings.first_review) == 2024) \
    .select('name', 'first_review') \
    .show(20, truncate=False)

+--------------------------------------------------+------------+
|name                                              |first_review|
+--------------------------------------------------+------------+
|Fiera, Rho fiera,Salone del Mobile                |2024-03-17  |
|Luxury top floor in porta Venezia                 |2024-04-21  |
|Charming Central Isola Apartment with Terrace     |2024-07-17  |
|Cozy 1 bedroom flat in Gambara area               |2024-10-03  |
|Home° Portello°SanSiro°FieraAllianzMiCo°CityLife  |2024-06-23  |
|Cozy apartment near city center                   |2024-04-21  |
|Monolocale vicino Porta Romana                    |2024-03-31  |
|Cosy flat next to Bocconi / Fondazione Prada      |2024-09-01  |
|Green Open Space                                  |2024-01-11  |
|Your place close to SALONE !                      |2024-04-22  |
|Bilocale sui Navigli - metro M2                   |2024-04-01  |
|Casa e terrazzo verde in centro                   |2024-04-19  |
|Sunny studio flat in Zona Tortona                 |2024-06-01  |
|Experience a Special Apart in the Heart of Milan! |2024-10-12  |
|Allianz House - Panoramic San Siro cozy house     |2024-04-12  |
|Luxory room with bathroom C                       |2024-04-19  |
|Stanza con bagno privato D                        |2024-04-17  |
|Suite Studio Milano Brera                         |2024-09-22  |
|Villetta Forlanini 5 posti Centro Milano nel verde|2024-03-25  |
|Brand New Apartment in the heart of Milan         |2024-04-18  |
+--------------------------------------------------+------------+
only showing top 20 rows